/* LAYOUT */
.spacer {
    
}

/* BUTTONS */
.button {
    padding: 6px 25px;
    text-transform: uppercase;
    border-width: 1px;
    border-style: solid;
    border-radius: 28px;
    box-shadow: none;
}

.light-outline-btn {
    background-color: transparent;
    border-color: var(--white-50);
    color: var(--white-50);
}

.primary-btn {
    color: #000;
    font-weight: 600;
    border-color: var(--PRIMARY2);
    background-color: var(--PRIMARY2);
}

/* N Progress  */
#nprogress .bar {
    height: 5px;
    background: var(--PRIMARY1);
}

#nprogress .spinner-icon {
    border-top-color: var(--PRIMARY1);
    border-left-color: var(--PRIMARY1);
    width: 30px;
    height: 30px;
}

#nprogress .peg {
    box-shadow: 0 0 10px var(--PRIMARY1), 0 0 5px var(--PRIMARY1);
}

